/* share style */
body {
  font-family: "Merriweather", serif;
}

/* First Banner*/
.banner {
  background-image: url(../resources/Banner\ Image.png);
  background-repeat: no-repeat;
  padding: 50px 40px 10px 40px;
  margin: 50px 0px 20px 110px;
  border-radius: 16px;
  color: #070211;
  align-items: center;
  /* background:linear-gradient(180deg, #070211 0%,; */
  background-image: linear-gradient(url Image, color #070211);
}

.firt-paragraph {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin: 177px 330px 0px 330px;
}
.new-year {
  color: #ffffff;
  text-align: center;
  font-size: 70px;
  margin: 0px 244px 177px 244px;
}
/* main */
.discound {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 250px 0px 20px 0px;
}

.holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 48px 0px 0px 0px;
}

.cate {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 16px 0px 0px 0px;
}
.nyp {
  align-items: center;
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin: 48px 260px 0px 260px;
  align-content: center;
}
/* banner 2 */
.welcome {
  background-image: url(../resources/Vectorrr.png);
  background-repeat: no-repeat;
  padding: 50px 40px 1000px 40px;
  margin: 50px 0px 20px 110px;
  border-radius: 16px;
  color: #070211;
  align-items: center;
  display: flex;
}
.wel {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.doll {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.wellbtn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #070211;
}
.gpsav{
  padding: auto;
  /* display: flex; */
}