/* share style */
body {
  font-family: "Merriweather", serif;
}

/* First Banner*/
.banner {
  background-image: url(../resources/Banner\ Image.png);
  background-repeat: no-repeat;
  padding: 50px 40px 10px 40px;
  margin: 50px 0px 20px 110px;
  border-radius: 16px;
  color: #070211;
  align-items: center;
  /* background:linear-gradient(180deg, #070211 0%,; */
  background-image: linear-gradient(url Image, color #070211);
}

.firt-paragraph {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin: 177px 330px 0px 330px;
}
.new-year {
  color: #ffffff;
  text-align: center;
  font-size: 70px;
  margin: 0px 244px 177px 244px;
}
/* main */
.discound {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 250px 0px 20px 0px;
}

.holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 48px 0px 0px 0px;
}

.cate {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 16px 0px 0px 0px;
}
.nyp {
  align-items: center;
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin: 48px 260px 0px 260px;
  align-content: center;
}
/* banner 2 */
.welcome {
  background-image: url(../resources/Vectorrr.png);
  background-repeat: no-repeat;
  padding: 70px 40px 100px 40px;
  margin: 150px 0px 20px 110px;
  border-radius: 16px;
  color: #070211;
  align-items: center;
  display: flex;
  /* background: linear-gradient(rgba(32, 27, 27, 0.527), rgba(26, 24, 24, 0.897)); */
}
.wel {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  /* padding: 10px 0px; */
}
.doll {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* padding: 0px 0px; */
}
.wellbtn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background: none;
  margin: 28px 22px;
}
.gpsav {
  padding: 0px 0px 0px 110px;
}
.div1 {
  margin: 1px 20px 0px 0px;
}
/* task three */

.txt {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 100px;
  margin: 100px 50px 50px 80px;
  border-radius: 10px;
}

.text {
  color: #f00;
  text-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.textpera {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.jbtn {
  align-items: center;
  padding: 15px;
  margin: 10px 375px 10px 375px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  text-transform: uppercase;
  background: #f00;
  border: none;
}
.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jbtn {
  margin-top: 10px;
  border-radius: 8px;
}

/* chapter four */
.div2 {
  display: flex;
  margin: 120px ;
  width: 1600px;
  height: 7335px;
  /* align-items: center; */
}

.nbo {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cs {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.dsa {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.hhp {
  align-items: left;
  justify-content: left;
  text-align: left;
  margin: 10px 50px 10px 10px;
}

/* c3 s2 */
.center {
  align-items: center;
  margin: 0px 30px 0px 30px;
}

.cen1 {
  border: #f00;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 10px;
}
/* c4 s3 */
.n {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dsac {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.hpi{
  margin: 0px 0px 0px 50px;
}